@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-blue {
    background: linear-gradient(
        315deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(248, 190, 253, 0.3563550420168067) 60%,
        rgba(253, 169, 255, 0.3395483193277311) 76%,
        rgba(126, 207, 255, 0.4207808123249299) 88%
    );
}

.neumorphism {
    box-shadow: rgba(166, 173, 187, 0.35) 0px 5px 15px;
}

.neumorphism_2nd {
    box-shadow: rgba(166, 173, 187, 0.12) 0px 1px 3px, rgba(166, 173, 187, 0.24) 0px 1px 2px;
}

.glassmorphism {
    background: transparent;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(166, 173, 187, 0.05);
}

@keyframes gradient-infinity {
    0% {
        background-position: 100% 0%;
    }
    100% {
        background-position: -100% 0%;
    }
}

.animate-gradient-infinity {
    animation: gradient-infinity 1s linear infinite;
}
